[Unit]
Description=ioCraft.org Bot
Documentation=https://www.iocraft.org
After=network.target

[Service]
Type=forking
User=www-data

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=iobot

WorkingDirectory=/storage/bot
PIDFile=/storage/bot/pidfile
ExecStart=/usr/bin/env node bot.js
Restart=always

[Install]
WantedBy=multi-user.target
